<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>VueJS</title>
  <script src="vue.js"></script>
</head>
<body>
<div id="app">
  <p v-if="show">You can see me <span>Hello!</span></p>
  <p v-else>Do you see me?</p>
  <template v-if="show">
    <h1>Heading</h1>
    <p>Inside a template</p>
  </template>
  <p v-show="show">Do you see me?</p>
  <button @click="show = !show">switch</button>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      show: true
    }
  })
</script>
</body>
</html>
