<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>VueJS</title>
  <script src="vue.js"></script>
</head>
<body>
<div id="app">
  <p v-if="show">You can see me <span>Hello!</span></p>
  <p v-else>Do you see me?</p>
  <template v-if="show">
    <h1>Heading</h1>
    <p>Inside a template</p>
  </template>
  <p v-show="show">Do you see me?</p>
  <button @click="show = !show">switch</button>
  <ul>
    <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
  </ul>
  <hr>
  <ul>
    <li v-for="person in persons">
      <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
    </li>
  </ul>
  <span v-for="n in 10">{{ n }}</span>
  <button @click="ingredients.push('spices')">Add New</button>
  <hr>
  <ul>
    <template v-for="(ingredient, index) in ingredients">
      <h1>{{ ingredient }}</h1>
      <h1>{{ index }}</h1>
    </template>
  </ulul>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      ingredients: ['meat', 'fruit', 'cookies'],
      persons: [
        {name: 'Max', age: 27, color: 'red'},
        {name: 'Anna', age: 'unknown', color: 'blue'}
      ],
      show: true
    }
  })
</script>
</body>
</html>
